<div class="bg-grey-whiter fc-blue-grey d-flex flex-wrap p-4">
  <div class="d-flex mb-3 m-lg-0" style="flex: 1">
    <div class="fs-14 lh-18" >
      <div *ngIf="payees.length > 1;else singlePayee" class="mb-1" [style.marginLeft]="'5rem'" [style.opacity]="'0.5'">PAYEES -
        <span [style.textDecoration]="'underline'">
          <ng-template [ngIf]="max === 0" [ngIfElse]="seeOnlyMainPayeeAnchor">
            <a (click)="getNextPayees(true)">see all the payees
              <i class="fa fa-caret-right"></i>
            </a>
          </ng-template>
          <ng-template #seeOnlyMainPayeeAnchor>
            <a (click)="seeOnlyMainPayee()">see main payee only
              <i class="fa fa-caret-down"></i>
            </a>
          </ng-template>
        </span>
      </div>
      <ng-template #singlePayee>
        <div class="mb-1" [style.marginLeft]="'5rem'" [style.opacity]="'0.5'">PAYEE</div>
      </ng-template>
      <div class="container" *ngFor="let payee of payees | slice:min:[max || 1]; let i=index;">
        <div class="d-flex semi-bold" [style.marginLeft]="'4rem'" [style.fontStyle]="'italic'" *ngIf="payees.length>1">{{i === 0 ? 'Main Payee': 'Payee #'+i }} </div>
        <request-address class="d-flex" [address]="payee.id" [title]="payee.payment ? 'ETH ID address' : 'ETH address'"></request-address>
        <request-address class="d-flex mt-1" *ngIf="payee.payment" [address]="payee.payment" title="ETH Payment address" ></request-address>
        <div *ngIf="i<payees.length-1" class="p-1"></div>
      </div>
    </div>
  </div>
  <div class="d-flex" style="flex: 1" *ngIf="payer">
    <div class="fs-14 lh-18">
      <div class="mb-1" [style.marginLeft]="'4rem'" [style.opacity]="'0.5'">PAYER</div>
      <request-address [address]="payer" title="ETH address" class="d-flex"></request-address>
    </div>
  </div>
</div>