<!-- ACCOUNT BLOCK -->
<button mat-button class="account-menu-button no-focus-overlay py-1" [matMenuTriggerFor]="accountMenu" *ngIf="web3Service.accountObservable | async as account; else loadingAccount">
  <mat-icon *ngIf="!account.startsWith('0x'); else blockiesImg">account_circle</mat-icon>
  <ng-template #blockiesImg>
    <angular-blockies [options]="{ seed: account.toLowerCase() }" class="blockies"></angular-blockies>
  </ng-template>
  <div class="d-flex flex-column align-items-start px-2" [style.lineHeight]="'14px'" [style.borderRight]="'1px solid #617B9F'">
    <span class="fc-accent fs-12">{{ web3Service.ledgerConnected ? 'Ledger Nano S' : web3Service.metamask ? 'Metamask' : 'Connect a wallet' }}</span>
    <span class="fs-14" *ngIf="account.startsWith('0x'); else accountLocked">{{ account.substring(0,10) }}...{{ account.substring(37,42) }}</span>
    <ng-template #accountLocked><span class="fs-14">{{ web3Service.metamask ? 'Account locked' : 'no account' }}</span></ng-template>
  </div>
  <div class="fs-14 d-flex align-items-center network network-{{ web3Service.networkIdObservable | async }}">
    <span class="network-icon"></span>
    <span class="network-name"></span>
  </div>
  <mat-icon>expand_more</mat-icon>
  <mat-menu #accountMenu="matMenu" [overlapTrigger]="false" class="account-menu">
    <a *ngIf="account.startsWith('0x')" routerLink="/search/{{ account }}" mat-menu-item>
      <i class="fa fa-search" aria-hidden="true"></i>
      <small>&nbsp;{{ account }}</small>
    </a>
    <hr class="m-0" *ngIf="account.startsWith('0x')" style="border-color: #617B9F; opacity: 0.1;" />
    <button class="d-flex align-items-center" (click)="openLedgerDialog()" mat-menu-item>
      <img style="width: 36px; position: relative; top: -2px" src="assets/img/ledger-icon.png">
      <span>&nbsp;Connect Ledger Nano S</span>
    </button>
    <button class="d-flex align-items-center" (click)="web3Service.checkAndInstantiateWeb3()" *ngIf="web3Service.metamask && web3Service.ledgerConnected" mat-menu-item>
      <img style="width: 20px; position: relative; top: -4px; margin: 0 0.5rem" src="assets/img/metamask-icon.png">
      <span>&nbsp;Connect metamask</span>
    </button>
    <a class="fs-14 d-flex align-items-center" href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank" *ngIf="!web3Service.metamask" mat-menu-item>
      <img style="width: 20px; position: relative; top: -4px; margin: 0 0.5rem" src="assets/img/metamask-icon.png">
      <span>&nbsp;Download metamask</span>
    </a>
  </mat-menu>
</button>
<ng-template #loadingAccount>
  <mat-spinner class="pull-right mr-3" [diameter]="20"></mat-spinner>
</ng-template>
