@import 'variables';

.order-id {
  font-size: 18px;
  font-weight: 500;
  color: $primary;
}

.invoice-items-table {
  .mat-header-row, .mat-row {
    height: 35px;
  }

  .mat-cell, .mat-header-cell {
    font-size: 14px;
    color: $blue-grey;
    border: none;
  }

  .mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
    padding-left: 0;
  }
  .mat-cell:last-of-type, .mat-footer-cell:last-of-type, .mat-header-cell:last-of-type {
    padding-right: 0;
  }
}