<h1 mat-dialog-title class="fc-primary">Pay Request</h1>
<mat-dialog-content style="overflow:initial">
  <mat-accordion *ngIf="allowanceMode; else broadcastTemplate">
    <mat-expansion-panel [disabled]="true" [hideToggle]="true" [expanded]="!isAllowanceGranted">
      <mat-expansion-panel-header>
        <div class="d-flex">
          <ng-template [ngIf]="!isAllowanceGranted" [ngIfElse]="checkedBox">
            <i class="fa fa-dot-circle-o px-2 align-checkbox" aria-hidden="true"></i>
          </ng-template>
          <ng-template #checkedBox>
            <i class="fa fa-check-circle px-2 align-checkbox fc-green" aria-hidden="true"></i>
          </ng-template>
          Step 1: Allow token payment
        </div>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="broadcastTemplate"></ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel class="mt-0" [hideToggle]="true" [disabled]="true" [expanded]="isAllowanceGranted">
      <mat-expansion-panel-header>
        <div class="d-flex">
          <i class="fa fa-dot-circle-o px-2 align-checkbox" aria-hidden="true"></i>
          Step 2: Confirm payment transaction
        </div>
      </mat-expansion-panel-header>
      <ng-template [ngIf]="waitAllowance" [ngIfElse]="broadcastERC20Template">
        <div class="d-flex flex-column align-items-center">
          <mat-spinner class="mx-auto mb-3" [diameter]="30"></mat-spinner>
          <small class="text-center">Please wait a few seconds for allowance to be processed</small>
        </div>
      </ng-template>
      <ng-template #broadcastERC20Template>
        <div class="mt-3 d-flex justify-content-around w-100">
          <button class="col-5" mat-raised-button type="button" mat-dialog-close>Cancel</button>
          <button class="col-5" mat-raised-button type="button" color="accent" (click)="submitBroadcast()">
            <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>
            <span>Pay</span>
          </button>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
<ng-template #broadcastTemplate>
  <div class="fs-12 d-flex justify-content-between mb-1">
    <div>The request's total amount is:</div>
    <div>{{ web3Service.fromWei(requestData.expectedAmounts[0]) }}
      <small>&nbsp;{{ requestData.currency }}</small>
    </div>
  </div>
  <mat-dialog-actions class="mt-3 d-flex justify-content-around w-100">
    <button class="col-5" mat-raised-button type="button" mat-dialog-close>Cancel</button>
    <button class="col-5" mat-raised-button type="button" color="accent" (click)="allowanceMode ? submitAllowance() : submitBroadcast()">
      <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>
      <span>{{ allowanceMode ? 'Confirm' : 'Pay' }}</span>
    </button>
  </mat-dialog-actions>
</ng-template>