<h1 mat-dialog-title class="fc-primary">Pay Request</h1>
<mat-dialog-content style="overflow:initial">
  <mat-accordion *ngIf="allowanceMode; else payTemplate">
    <mat-expansion-panel [disabled]="true" [hideToggle]="true" [expanded]="!isAllowanceGranted">
      <mat-expansion-panel-header>
        <div class="d-flex">
          <ng-template [ngIf]="!isAllowanceGranted" [ngIfElse]="checkedBox">
            <i class="fa fa-dot-circle-o px-2 align-checkbox" aria-hidden="true"></i>
          </ng-template>
          <ng-template #checkedBox>
            <i class="fa fa-check-circle px-2 align-checkbox fc-green" aria-hidden="true"></i>
          </ng-template>
          Step 1: Fill payment information
        </div>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="payTemplate"></ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel class="mt-0" [hideToggle]="true" [disabled]="true" [expanded]="isAllowanceGranted">
      <mat-expansion-panel-header>
        <div class="d-flex">
          <i class="fa fa-dot-circle-o px-2 align-checkbox" aria-hidden="true"></i>
          Step 2: Confirm payment transaction
        </div>
      </mat-expansion-panel-header>
      <mat-dialog-actions class="mt-3 d-flex justify-content-around w-100">
        <button class="col-5" mat-raised-button type="button" mat-dialog-close>Cancel</button>
        <button class="col-5" mat-raised-button type="button" color="accent" (click)="submitPay()">
          <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>
          <span>Pay</span>
        </button>
      </mat-dialog-actions>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
<ng-template #payTemplate>
  <form class="fc-primary" [formGroup]="payForm" (ngSubmit)="allowanceMode ? submitAllowance() : submitPay()">
    <div class="fs-12 d-flex justify-content-between mb-1">
      <div>The request total amount is:</div>
      <div>{{ web3Service.BNToAmount(request.payee.expectedAmount, request.currency) }}
        <small>&nbsp;{{ request.currency }}</small>
      </div>
    </div>
    <div class="fs-12 d-flex justify-content-between mb-1">
      <div>Amount already paid:</div>
      <div>{{ web3Service.BNToAmount(request.payee.balance, request.currency) }}
        <small>&nbsp;{{ request.currency }}</small>
      </div>
    </div>
    <hr style="border-top: 1px solid #617B9F; opacity: 0.2">
    <div class="fs-12 d-flex justify-content-between mb-3">
      <div>Remaining amount to pay:</div>
      <div>{{ web3Service.BNToAmount(request.payee.expectedAmount.sub(request.payee.balance), request.currency) }}
        <small>&nbsp;{{ request.currency }}</small>
      </div>
    </div>
    <mat-form-field class="w-100">
      <input matInput type="text" formControlName="amountFormControl" placeholder="You'll be paying...">
      <mat-error *ngIf="amountFormControl.hasError('required')">
        amount is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="amountFormControl.hasError('pattern')">
        must be a <strong>positive number</strong> with maximum <strong>18 decimals</strong>
      </mat-error>
      <mat-error *ngIf="amountFormControl.hasError('max')">
        must be <strong>inferior or equal</strong> to the allowance amount <a class="error-anchor" (click)="onAllowed(false)">increase your allowance</a>
      </mat-error>
      <span matSuffix><img class="currencyIcon" src="assets/img/cryptoIcons/{{ request.currency }}.png"><strong>&nbsp;{{ request.currency }}&nbsp;</strong><a (click)="setMax()" class="fs-12 fc-accent"><strong>max</strong></a>
      </span>
    </mat-form-field>
    <div class="fs-12 d-flex justify-content-between my-3">
      <div><strong>Will remain</strong></div>
      <div>{{ (amountFormControl.value && amountFormControl.valid) ? (web3Service.BNToAmount(request.payee.expectedAmount.sub(request.payee.balance).sub(web3Service.amountToBN(amountFormControl.value, request.currency)), request.currency)) : '...' }}&nbsp;
        <small>{{ request.currency }}</small>
      </div>
    </div>
    <mat-dialog-actions class="mt-3 d-flex justify-content-around w-100">
      <button class="col-5" mat-raised-button type="button" mat-dialog-close>Cancel</button>
      <button class="col-5" mat-raised-button type="submit" [disabled]="!payForm.valid" color="accent">
        <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>
        <span>{{ allowanceMode ? 'Confirm' : 'Pay' }}</span>
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>