<div class=wrapper>
  <header *ngIf="!this.router.routerState.snapshot.url.startsWith('/contact')" class="d-flex flex-wrap justify-content-between align-items-center fc-primary px-3">
    <a routerLink="/" class="d-flex align-items-center">
      <img class="px-3 request-logo" src="assets/img/request-logo.png">
      <span class="semi-bold fc-primary">Request&nbsp;<sup><small><small>ALPHA TESTNET</small></small></sup></span>
    </a>
    <form [formGroup]="searchForm" (ngSubmit)="search(searchValueFormControl.value)">
      <mat-form-field class="mx-3 searchBar">
        <input matInput type="text" formControlName="searchValueFormControl">
        <button type="submit" matSuffix mat-icon-button [disabled]="!searchValueFormControl.value">
          <mat-icon>search</mat-icon>
        </button>
        <mat-placeholder>
          <small>Search by Request ID / ETH address</small>
        </mat-placeholder>
      </mat-form-field>
    </form>
    <div class="mr-3">
      <!-- ACCOUNT BLOCK -->
      <button mat-button class="account-menu-button no-focus-overlay py-1" [matMenuTriggerFor]="accountMenu" *ngIf="web3Service.accountObservable | async as account; else loadingAccount">
        <mat-icon *ngIf="!account.startsWith('0x'); else blockiesImg">account_circle</mat-icon>
        <ng-template><img [src]="blockies({ seed: account.toLowerCase() }).toDataURL()" style="width: 26px; height: 26px; image-rendering: pixelated; border-radius: 13px" /></ng-template>
        <div class="d-flex flex-column align-items-start px-2" [style.lineHeight]="'14px'" [style.borderRight]="'1px solid #617B9F'">
          <span class="fc-accent fs-12">{{ web3Service.ledgerConnected ? 'Ledger Nano S' : web3Service.metamask ? 'Metamask' : 'connect a wallet' }}</span>
          <span class="fs-14" *ngIf="account.startsWith('0x'); else accountLocked">{{ account.substring(0,10) }}...{{ account.substring(37,42) }}</span>
          <ng-template #accountLocked><span class="fs-14">{{ web3Service.metamask ? 'Account locked' : 'Connect a wallet' }}</span></ng-template>
        </div>
        <div class="fs-14 d-flex align-items-center network-{{web3Service.networkIdObservable | async }}">
          <span class="network-icon"></span>
          <span class="network-name"></span>
        </div>
        <mat-icon>expand_more</mat-icon>
        <mat-menu #accountMenu="matMenu" [overlapTrigger]="false" class="account-menu">
          <button *ngIf="account.startsWith('0x')" (click)="search(account)" mat-menu-item>
            <i class="fa fa-search" aria-hidden="true"></i>
            <small>&nbsp;{{ account }}</small>
          </button>
          <hr class="m-0" *ngIf="account.startsWith('0x')" style="border-color: #617B9F; opacity: 0.1;" />
          <button (click)="openLedgerDialog()" mat-menu-item>
            <img style="width: 36px; position: relative; top: -2px" src="assets/img/ledger-icon.png">
            <span>&nbsp;Connect Ledger Nano S</span>
          </button>
        </mat-menu>
      </button>
      <ng-template #loadingAccount>
        <mat-spinner class="pull-right mr-3" [diameter]="20"></mat-spinner>
      </ng-template>
    </div>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer class="d-flex flex-wrap justify-content-between p-3" *ngIf="!this.router.routerState.snapshot.url.startsWith('/contact')">
    <div class="d-flex flex-column m-3">
      <a routerLink="/">
        <img class="request-logo my-1 img-fluid" src="assets/img/request-logo.png">
        <div class="semi-bold fc-white">Request</div>
      </a>
      <span><small>© Request.Network</small></span>
      <div class="d-flex justify-content-between">
        <a target="_blank" href="https://blog.request.network">
          <i class="fa fa-medium" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://twitter.com/requestnetwork">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://www.reddit.com/r/RequestNetwork/">
          <i class="fa fa-reddit-alien" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://t.me/requestnetwork">
          <i class="fa fa-telegram" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://github.com/RequestNetwork/">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/Request-Network-140279756554525/">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="ml-auto d-flex flex-wrap">
      <div class="footer-column">
        <span class="my-3 semi-bold">Protocol</span>
        <a href="https://github.com/RequestNetwork/" target="_blank">Github</a>
        <a href="https://github.com/RequestNetwork/requestNetwork.js/" target="_blank">requestnetwork.js</a>
        <a href="https://github.com/RequestNetwork/Request_SmartContracts/" target="_blank">Smart Contracts</a>
        <a href="https://blog.request.network/request-network-project-update-january-19th-2018-announcing-a-30-million-request-fund-6a6f87d27d43" target="_blank">Develop with Request</a>
      </div>
      <div class="footer-column">
        <span class="my-3 semi-bold">Product</span>
        <a target="_blank" href="/assets/pdf/WhitePaper_Request Network_EN.pdf">Whitepaper</a>
        <a target="_blank" href="https://blog.request.network/why-use-request-b28c3e788261">Why use Request</a>
        <a target="_blank" href="https://blog.request.network/request-colossus-launch-how-it-works-871464b361cf">How it works</a>
        <a target="_blank" href="https://blog.request.network/colossuss-frequently-asked-questions-faq-c086231b88fa">FAQ</a>
      </div>
      <div class="footer-column">
        <span class="my-3 semi-bold">Organization</span>
        <a href="https://request.network/" target="_blank">About</a>
        <a routerLink="contact">Contact</a>
      </div>
    </div>
  </footer>
</div>
