<div class="d-flex fc-blue-grey p-4 request-metadata" >
  <div class="p-4" *ngIf="!data;else metadata_section">loading...</div>
  <ng-template #metadata_section>
    <p class="p-3"></p>
    <p>
      {{description}}
      <mat-tree *ngIf="dataSource" [dataSource]="dataSource" [treeControl]="treeControl" class="fc-blue-grey">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
          {{node.text}} <span *ngIf="node.value">: {{node.value}}</span>
        </mat-tree-node>
        
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.text">
            <mat-icon>
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.text}} <span *ngIf="node.value">: {{node.value}}</span>
        </mat-tree-node>
      </mat-tree>
    </p>
  </ng-template>
</div>