<ng-template [ngIf]="noGasPrices">
  <mat-form-field [style.maxWidth]="'100px'">
    <input type="number" matInput required [(ngModel)]="gasService.gasPrice">
    <span matSuffix>
      <small>
        Gwei
      </small>
    </span>
    <mat-placeholder>
      <small>
        <mat-icon matPrefix>local_gas_station</mat-icon> Gas Price
      </small>
    </mat-placeholder>
  </mat-form-field>
</ng-template>
<ng-template [ngIf]="!noGasPrices">
  <button mat-button class="no-focus-overlay" [matMenuTriggerFor]="gasMenu" *ngIf="gasService.gasPricesObservable | async as gasPrices; else loadingGasSelector">
    <mat-icon>local_gas_station</mat-icon>
    <span class="hidden-md-down">Gas price: {{gasCategoryLabels[currentGasCategory]}} ({{gasService.gasPrice | number : '1.0-2'}} Gwei)</span>
    <mat-menu class="mat-menu-custom" #gasMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item class="gas-option" [class.selected]="currentGasCategory === 'safeLow'" (click)="selectGasCategory('safeLow', gasPrices.safeLow)">
        <div>
          <div class="speed">LOW</div>
          <div class="wait"> &lt;30 min</div>
        </div>
        <div class="gas-price">
          {{gasPrices.safeLow | number : '1.0-2'}} Gwei
        </div>
      </button>
      <button mat-menu-item class="gas-option" [class.selected]="currentGasCategory === 'average'" (click)="selectGasCategory('average', gasPrices.average)">
        <div>
          <div class="speed">STANDARD</div>
          <div class="wait"> &lt;5 min</div>
        </div>
        <div class="gas-price">
          {{gasPrices.average | number : '1.0-2'}} Gwei
        </div>
      </button>
      <button mat-menu-item class="gas-option" [class.selected]="currentGasCategory === 'fast'" (click)="selectGasCategory('fast', gasPrices.fast)">
        <div>
          <div class="speed">FAST</div>
          <div class="wait"> &lt;2 min</div>
        </div>
        <div class="gas-price">
          {{gasPrices.fast | number : '1.0-2'}} Gwei
        </div>
      </button>
      <button mat-menu-item class="gas-option" [class.selected]="currentGasCategory === 'fastest'" (click)="selectGasCategory('fastest', gasPrices.fastest)">
        <div>
          <div class="speed">FASTEST</div>
          <div class="wait"> 1-2 blocks</div>
        </div>
        <div class="gas-price">
          {{gasPrices.fastest | number : '1.0-2'}} Gwei
        </div>
      </button>
      <div mat-menu-item class="gas-option mat-menu-item custom-gas-option" [class.selected]="currentGasCategory === 'custom'" (click)="customClick($event)">
        <div>CUSTOM</div>
        <div class="custom-gas-price">{{gasService.gasPrice}} Gwei
        </div>
        <mat-slider class="custom-gas-slider" min="0.1" max="{{gasPrices.fastest}}" (input)="sliderInput($event)" step="0.1" [(ngModel)]="gasService.gasPrice"></mat-slider>
      </div>
    </mat-menu>
  </button>
  <ng-template #loadingGasSelector>
    <mat-icon>local_gas_station</mat-icon>
    <mat-spinner style="display:inline-block" [diameter]="20"></mat-spinner>
  </ng-template>
</ng-template>
