@import 'variables';
@import 'mixins';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/utilities';

@import '~font-awesome/scss/font-awesome';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  @include serif-font();
  min-width: 320px;
  height: 100%;
  font-weight: 300;
}

body {
  margin: 0;
}

* {
  &:active,
  :focus {
    outline: none !important;
  }
}

.mat-placeholder-required.mat-form-field-required-marker {
  display: none !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

qrcode.qr-code {
  img {
    margin: auto;
  }
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

@media (max-width: 340px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 577px) {
  .hidden-sm-up {
    display: none !important;
  }
}

.flex-1 {
  flex: 1 0 auto;
}

.flex-inf {
  flex: 1000 0 auto;
}

// related to  expansion pannel on payment dialog
.align-checkbox {
  position: relative;
  top: 3px;
}

.error-anchor {
  color: $primary !important;
  text-decoration: underline !important;
}

.mat-expansion-panel {
  box-shadow: initial !important;
}

.mat-expansion-panel-header {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.mat-expansion-panel-header.mat-expanded {
  color: $blue-grey !important;
}

.mat-expansion-panel-header,
.mat-expansion-panel-body {
  color: $blue-grey;
  padding: initial !important;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  z-index: 1;
  background: white;
  min-height: 67.5px;
  color: $primary;
  border-bottom: 2px solid $grey-light;
  .request-logo {
    height: 36px;
  }
}

.status {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  font-weight: 400;
  line-height: 22px;
  color: white;
}

.status-cancelled {
  @extend .status;
  background-color: #ed6852;
}

.status-in-progress {
  @extend .status;
  background-color: #8ab4fa;
}

.status-complete {
  @extend .status;
  background-color: $green;
}

.status-overpaid {
  @extend .status;
  background-color: $purple;
}

.status-accepted {
  @extend .status;
  background-color: #406278;
}

.status-created {
  @extend .status;
  background-color: $orange;
}

.currency-select {
  overflow:visible !important;
  .mat-option {
    height: 2rem !important;
    color: #617b9f !important;
    font-size: 14px !important;
    font-weight: 400;
  }
  box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;
}

.currencyIcon {
  max-height: 16px;
  max-width: 16px;
  position: relative;
  top: -1px;
}

.warning-snackbar {
  background-color: #fcb352 !important;
}

.info-snackbar {
  background-color: #5392ff !important;
}

.success-snackbar {
  background-color: #1dcc8c !important;
}

.mat-simple-snackbar {
  overflow: hidden;
  max-height: 52px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-height: 52px;
  button {
    color: #fff;
  }
}

mat-toolbar.cta-toolbar {
  :first-child {
    border-bottom-left-radius: 7px;
    flex: 1;
  }
  button:last-child {
    border-bottom-right-radius: 7px;
    flex: 1;
  }
  button {
    border-radius: 0;
    box-shadow: none !important;
    height: 100%;
  }
}

.actions-menu {
  box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;
  max-width: 365px !important;
  width: 25.25vw;
  min-width: 185px !important;
  .mat-menu-item {
    color: $blue-grey;
    padding: 0 3rem;
  }
}

button.account-menu-button {
  font-size: 16px;
  font-weight: initial;
  max-width: 100%;
}

.mat-menu-custom {
  box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;
  max-width: 100% !important;
  button {
    font-size: 14px;
  }
  .mat-menu-content {
    padding: 0 !important;
  }
  .mat-menu-item {
    color: $blue-grey !important;
  }
}

.blockies {
  width: 26px;
  height: 26px;
  canvas {
    width: inherit;
    height: inherit;
    image-rendering: pixelated;
    border-radius: 100%;
  }
}

button.no-focus-overlay .mat-button-focus-overlay {
  background-color: transparent;
}

mat-toolbar.mat-toolbar {
  background: $grey-whiter;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

// CUSTOMIZE POPOVER
.popover .arrow {
  display: none;
}

.mat-tooltip {
  transform-origin: center top 0px;
  transform: scale(1);
}

.popover {
  color: #fff;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background: rgba(97, 97, 97, 0.9);
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  font-weight: 300;
}

// Select address table
.address-row {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  &:hover {
    color: $accent !important;
  }
}

// NETWORK ID
.network-icon {
  height: 12px;
  min-width: 12px;
  margin: 8px;
}

.network {
  .network-icon {
    display: none;
  }
  .network-name {
    &::before {
      content: '? Unknown Network';
      color: #aeaeae;
      margin-left: 8px;
      font-size: 12px;
    }
  }
}

.network-1 {
  span.network-icon {
    display: flex;
    transform: rotate(45deg);
    background: #038789;
  }
  span.network-name {
    &::before {
      content: 'Main Network';
      margin-left: 0;
      color: #038789;
    }
  }
}

.network-3 {
  span.network-icon {
    display: flex;
    background: #e91550;
    border-radius: 10px;
  }
  span.network-name {
    &::before {
      content: 'Ropsten Test Net';
      margin-left: 0;
      color: #e91550;
    }
  }
}

.network-42 {
  span.network-icon {
    display: flex;
    transform: rotate(45deg);
    border: 3px solid #690496;
  }
  span.network-name {
    &::before {
      content: 'Kovan Test Net';
      margin-left: 0;
      color: #690496;
    }
  }
}

.network-4 {
  span.network-icon {
    display: flex;
    background: #ebb33f;
  }
  span.network-name {
    &::before {
      content: 'Rinkeby Test Net';
      margin-left: 0;
      color: #ebb33f;
    }
  }
}

// CUSTOMIZE MAT-INPUT CSS
input.mat-input-element,
span.mat-select-value-text,
textarea.mat-input-element,
div.mat-input-suffix,
div.mat-input-prefix {
  color: $blue-grey;
}

.mat-form-field-hint-wrapper > mat-hint.mat-hint,
.mat-form-field-hint-wrapper > div.mat-hint,
.mat-form-field-label-wrapper > label.mat-form-field-label {
  color: rgba($blue-grey, 0.6);
}

.mat-form-field-wrapper > div.mat-form-field-underline {
  background-color: rgba($blue-grey, 0.2);
}

// FONT COLORS
.fc-primary {
  color: $primary;
}

.fc-warn {
  color: $warn;
}

.fc-green {
  color: $green;
}

.fc-accent {
  color: $accent !important;
}

.fc-white {
  color: #fff;
}

.fc-blue-grey {
  color: $blue-grey !important;
}

// BACKGROUND COLORS
.bg-primary {
  background: $primary;
}

.bg-grey-white {
  background-color: $grey-white;
}

.bg-grey-whiter {
  background: $grey-whiter !important;
}

.bg-grey-white-blue {
  background-color: $grey-white-blue;
}

.bg-white {
  background: #fff;
}

// FONT SIZE & WEIGHT
.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.fw-initial {
  font-weight: initial !important;
}

.lh-14 {
  line-height: 14px;
}

.lh-18 {
  line-height: 18px;
}

// BORDERS & SHADOW
.sh-blue {
  box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;
}

.bor-accent {
  border: 1px solid $accent !important;
}

.br-2 {
  border-radius: 2px;
}

.br-7 {
  border-radius: 7px !important;
}

.btr-7 {
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}

.bbr-7 {
  border-bottom-right-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}

// fix chrome autofill theme
input {
  &:-webkit-autofill {
    -webkit-text-fill-color: $blue-grey !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

// remove number input spinners
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// supports Mozilla
input[type='number'] {
  -moz-appearance: textfield;
}
